* {
  margin: 0px;
  padding: 0px;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    
}
.app {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.icon-div {
  position: absolute;
  left: 15px;
  top: 15px;
  color: #84888f;
  gap: 18px;
  margin-bottom: 10px;
  font-size: 28px;
  cursor: pointer;
  
}
.chatbox {
  color: #fff;
    background-color: #343541;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden !important;
    align-items: center;
    position: relative;
    height: 85.6vh;
}

.chat-input {
  position: sticky;
  bottom: 1px;
  flex: 0.16;
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.chat-input-div {
  width: 720px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.chat-input-box {
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  background-color: #40414f;
  padding: 15px;
  outline: none;
  border: none;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: background-color 0.3s ease;
}

.chat-input-icon {
  position: relative;
  top: 16px;
  color: #84888f;
  left: -16px;
}
.chat-input-icon:hover {
  transition: 0.5s all;
  cursor: pointer;
  left: -45px;
  top: 12px;
  rotate: 40deg;
}

.bottom-section-container {
  width: 100%;
  height: 85px;
  background-color: #84888f;
  bottom: 0;
  position: fixed;
}

.bottom-section {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 98px;
  transition: background-color 0.3s ease;
  z-index: 10;
}


.input-div {
  position: relative;
  width: 100%;
  max-width: 650px;
  border: 1px solid #84888f;
  border-radius: 15px;
  padding-top: 18px;
}

.bottom-section form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 650px;
  margin-bottom: 10px;
  border: 1px solid #84888f;
}

.input-container {
  border: none;
  background-color: #343541;
  width: 90%;
  padding-left: 10px;
  font-size: 14px;
  padding-bottom: 20px;
  border-radius: 18px;
}

.input-container:focus{
 outline: none;
}
.submit-button {
  position: relative;
  font-size: 20px;
  color: #84888f;
  display: flex;
  cursor: pointer;
  padding-top: 12px;
}

.input-div, .submit-button{
    right: 0;
    bottom: 15px;
} 
.submit-button:disabled {
  cursor: not-allowed;
}



.plus {
  position: relative;
  top: -3px;
  font-size: 20px;
  font-weight: 600;
  padding-right: 9px;
}


.chat-about {
  color: #adacac;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 0.1px;
}
.start-conversation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 15%;
}

.chatgpt-icon {
  width: 45px;
  height: 45px;
  margin-left: 40px;
  transform: translate(-50%, -50%);
  border-radius: 60%;
  border: 1px solid #84888f;
}

.sub-text {
  font-size: 20px;
  font-weight: 600;
  font-weight: bold;
  transition: color 0.3s ease;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.user-icon{
  margin-left: 5px;
}
.chat-log {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin-top: 3%;
}
.avatar {
  margin-top: 5px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.chatGPT{
    border-radius: 2px;
    padding: 12px!important;
}
.bg-white{
  color: #222222;
  background-color: #fff!important;
}
.bg-dark{
  color: #e3e3e3;
  background-color: #222222;
}
.chat-message .bg-dark:nth-child(even){
  color: #171719;
  background-color: #444654!important;
}

/* .chat-message:nth-child(even){
  background-color: #444654;
} */

/* 
.bg-white .chat-message:nth-child(even){
  color: #18181a;
  background-color: #f7f7f8!important;
} */

.questions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: row;
  width: 50%; 
  margin-top: 320px;
  position: relative;
  max-width: 1200px;
  grid-gap: 20px;
}

.first-questions-column,
.second-questions-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.answerScreen {
  width: 100%; 
  max-width: 300px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #84888f;
  text-align: start;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-weight: bold;
}
.answerScreen p{
  padding-top: 10px;
}


.first-questions-column p,
.second-questions-column p {
  color: #84888f;
  font-size: 12px;
  font-weight: normal;
}


.gpt-icon-answer{
  width: 25px;
  height: 25px;
  transform: translate(-50%, -50%);
  border-radius: 60%;
  border: 1px solid #84888f;
}

@media screen and (max-width: 600px)  {

  .questions {
      grid-template-columns: 1fr;
      width: 90%;
  }
  .bottom-section{
    width: 95%;
    margin-bottom: 50px;
  }
  .input-container{
    width: 80%;
    margin-right: 10px !important;
  }
  .submit-button{
    margin-left: 5px;
  }
  .chat-message{
    margin-bottom: 25px;
    margin-right: 2%;
  }
}
@media screen and (max-width: 1040px){
  .bottom-section{
    width: 95%;
  }
  .questions{
    margin-top: 200px;
  }
}
@media only screen and (max-width: 767px) {
  
  .second-questions-column {
      display: none; 
  }
  .first-questions-column{
    margin-top: 20px;
  }
  .chat-log {
    margin-top: 12%; 
  }
  .bottom-section{
    width: 95%;
  }
  .questions{
    margin-top: 300px;
  }
}
@media  screen and (max-width: 600px) {
  .chat-log {
    margin-top: 20%; 
    margin-bottom: 10px;
    margin-right: 18px;
  }
  .bottom-section{
    width: 95%;
  }
  
  
}