* {
  margin: 0px;
  padding: 0px;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    
}
.app {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.icon-div {
  position: absolute;
  left: 15px;
  top: 15px;
  color: #84888f;
  gap: 18px;
  margin-bottom: 10px;
  font-size: 28px;
  cursor: pointer;
  
}
.chatbox {
  color: #fff;
    background-color: #343541;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden !important;
    align-items: center;
    position: relative;
}

.chat-input {
  position: sticky;
  bottom: 1px;
  flex: 0.16;
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.chat-input-div {
  width: 720px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.chat-input-box {
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  background-color: #40414f;
  padding: 15px;
  outline: none;
  border: none;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: background-color 0.3s ease;
}

.chat-input-icon {
  position: relative;
  top: 16px;
  color: #84888f;
  left: -16px;
}
.chat-input-icon:hover {
  transition: 0.5s all;
  cursor: pointer;
  left: -45px;
  top: 12px;
  rotate: 40deg;
}



.bottom-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
}
.input-div{
  position: relative;
    width: 100%;
    max-width: 650px;
    border: 1px solid #84888f;
    border-radius: 11px;
    padding-top: 18px;
}

.bottom-section form {
  display: flex;
  align-items: center;
  width: 100%; 
  max-width: 650px; 
  margin-bottom: 10px;
}

.input-container {
  border: none;
    background-color: #343541;
    width: 90%;
    padding-left: 10px;
    font-size: 14px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.input-container:focus{
 outline: none;
}
.submit-button {
  font-size: 20px;
  float: right;
  color: #84888f;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  cursor: pointer;
  margin-left: 10px;

}
.input-div, .submit-button{
    right: 0;
    bottom: 15px;
} 
.submit-button:disabled {
  cursor: not-allowed;
}



.plus {
  position: relative;
  top: -3px;
  font-size: 20px;
  font-weight: 600;
  padding-right: 9px;
}


.chat-about {
  color: #adacac;
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 0.1px;
}
.start-conversation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 15%;
}

.chatgpt-icon {
  width: 45px;
  height: 45px;
  margin-left: 40px;
  transform: translate(-50%, -50%);
  border-radius: 60%;
  border: 1px solid #84888f;
}

.sub-text {
  font-size: 20px;
  font-weight: 600;
  font-weight: bold;
  transition: color 0.3s ease;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.chat-log {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 2%;
}
.chat-message{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  margin-right: 10px;
  padding: 10px;
}
.message {
  max-width: 100%;
  box-sizing: border-box; 
  word-wrap: break-word;
}
.avatar {
  margin-top: 5px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.chatGPT{
    border-radius: 2px;
    padding: 3px!important;
}
.bg-white{
  color: #2d2f32;
  background-color: #fff!important;
}
.bg-dark{
  color: #dbdde0;
  background-color: #343541;
}
.chat-message .bg-dark:nth-child(even){
  color: #171719;
  background-color: #444654!important;
}

/* .chat-message:nth-child(even){
  background-color: #444654;
} */

/* 
.bg-white .chat-message:nth-child(even){
  color: #18181a;
  background-color: #f7f7f8!important;
} */

.questions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: row;
  width: 50%; 
  margin-top: 320px;
  position: relative;
  max-width: 1200px;
  grid-gap: 12px;
}

.first-questions-column,
.second-questions-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.answerScreen {
  width: 100%; 
  max-width: 300px;
  height: 50px;
  background-color: #40414f;
  border-radius: 10px;
  border: 1px solid #84888f;
  text-align: start;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-weight: bold;
}
.answerScreen p{
  padding-top: 10px;
}
.questions span:hover {
  background-color: #a4a4a4a0;
}

.first-questions-column p,
.second-questions-column p {
  color: #84888f;
  font-size: 12px;
  font-weight: normal;
}


@media screen and (max-width: 600px)  {

  .questions {
      grid-template-columns: 1fr;
      width: 90%;
  }
  .bottom-section{
    width: 95%;
    margin-top: 60px;
  }
  .input-container{
    width: 80%;
    margin-right: 10px !important;
  }
  .submit-button{
    margin-left: 5px;
  }
}
@media screen and (max-width: 1024px){
  .bottom-section{
    width: 95%;
    margin-top: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .first-questions-column {
      display: none; 
  }
  .chat-log {
    margin-top: 10%; 
  }
}
@media only screen and (max-width: 600px) {
  .chat-log {
    margin-top: 17%; 
  }
}